useDynLib("sbde", .registration = TRUE)
# Export all functions listed below
export(
  sbde,
  getBands,
  waic,
  predict.sbde,
  quantile.sbde,
  quantlev.sbde
)

S3method(update, sbde)
S3method(summary, sbde)
S3method(coef, sbde)
S3method(update, sbde)
S3method(predict, sbde)
S3method(quantile, sbde)
#S3method(quantlev, sbde)

# Import all packages listed as Imports or Depends
import(stats, graphics, grDevices, evd)
importFrom(Matrix, bdiag)
importFrom(coda, geweke.diag)
importFrom(coda, as.mcmc)
importFrom(kernlab, inchol)
importFrom(kernlab, pivots)
